<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <title>سجل الحضور</title>
   <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<div class="header">
    جامعة حائل | سجل الحضور والانصراف
</div>

<div class="card center">

    <h2>🕒 الحضور</h2>

    <p class="hint">
        سيتم تعبئة هذا الجدول تلقائيًا من نظام التعرّف على الوجه
    </p>

    <table>
        <tr>
            <th>الطالب</th>
            <th>المقرر</th>
            <th>الشعبة</th>
            <th>وقت الحضور</th>
            <th>وقت الانصراف</th>
            <th>الحالة</th>
        </tr>

        <tr>
            <td colspan="6">لا توجد سجلات حالياً</td>
        </tr>
    </table>

</div>

</body>
</html>
